Flask==3.0.2
requests==2.31.0
gunicorn==21.2.0
python-dotenv==1.0.1

google-auth==2.26.1
google-auth-oauthlib==1.0.0
google-api-python-client==2.101.0

supabase==1.0.3

httpx==0.24.1
python-dateutil==2.8.2
